<div class="box">
<div class="top"><div class="right"></div><div class="left"></div></div>
<div class="middle staticbox">
  
<h3>110% Money Back Guarantee</h3>
<p>
  We are so certain you will be satisfied with your MicroTasking experience, we not only
  guarantee your money back if we're wrong, we'll give you back an extra 10% for your troubles.
</p>

<h4>Details</h4>
<p>
  The refund applies only to the hour rate, and not for any extra amount submitted.
  In order to qualify for the money back program, you must have purchased a microtask from
  us within the last 30 days. Send an email to <a href="refund@microtasking.net">refund@microtasking.net</a>
  with the following information:
  <ul>
    <li>Your Name</li>
    <li>Your Phone Number</li>
    <li>Your MicroTasking ticket ID (the URL given after purchase)</li>
    <li>An explanation of the reason for your dissatisfaction</li>
  </ul>
  The last item is very important, to help us continually improve our process.
</p>
</div>
<div class="bottom"><div class="right"></div><div class="left"></div></div>
</div>
