<div class="box">
<div class="top"><div class="right"></div><div class="left"></div></div>
<div class="middle staticbox">

<h3 id="definition">What are the task sizes?</h3>
<p>
	Microtasks can be specified in the following sizes:
</p>
<table class="datatable">
<thead>
	<tr>
		<th><span>Size</span></th>
		<th><span>Duration</span></th>
		<th><span>Price</span></th>
	</tr>
</thead>
<tbody>
	<tr>
		<td><span>{{ small_desc }}</span></td>
		<td><span>1 hour</span></td>
		<td><span>{{ currency }}{{ small_price }}</span></td>
	</tr><tr>
		<td><span>{{ medium_desc }}</span></td>
		<td><span>2 hours</span></td>
		<td><span>{{ currency }}{{ medium_price }}</span></td>
	</tr><tr>
		<td><span>{{ halfday_desc }}</span></td>
		<td><span>4 hours</span></td>
		<td><span>{{ currency }}{{ halfday_price }}</span></td>
	</tr><tr>
		<td><span>{{ fullday_desc }}</span></td>
		<td><span>8 hours</span></td>
		<td><span>{{ currency }}{{ fullday_price }}</span></td>
	</tr>
</tbody>
</table>
<p>
	Pick the size that reflects how long you would expect an educated person to 
	take to produce a suitable result.
</p>
<p>
	If you're unsure, start with a {{ small_desc }} task and see how it goes.  
	Then, as you become accustomed with the process, increase to larger task sizes.
</p>

</div>
<div class="bottom"><div class="right"></div><div class="left"></div></div>
</div>

