/**
 * contender.css
 */
body {
  background: #facade;
}
.wrapper {
  background-position: top right;
  background-repeat: no-repeat;
  background-image: url("/images/pinkribbon.png");
  *background-image: none; /* IE 6 - no png 32 transparency */
}

