<h3 id="definition">What is Microtasking?</h3>
<p>
	Microtasking (the concept) is the idea that you have better things to do with your 
	time than every little task which comes along.  It is the process of sourcing out
	small, well defined tasks and having them done remotely by someone else for a
	resonable fee.
</p>
<p>
	Microtasking<sup>sm</sup> (the company) is a sitededicated to facilitating your 
	experience by providing the lowest possible barrier to getting started.
</p>

<h3 id="how">How does it work?</h3>
<p>
	We believe that there is beuaty in simplicity.  All you have to do is provide us
	with a task that takes about an hour to complete, agree to pay, and we'll take 
	care of it.
</p>
<p>
	More information about how microtasking works can be found in our <a href="/faq">FAQ</a>.
</p>

