<div class="staticbox">

<h3 id="definition">What is Microtasking?</h3>
<p>
	Microtasking (the concept) is the idea that your time is best spent on the
	creative tasks which only you can do. The small, well definable task should
	outsourced to a dedicated staff, allowing you to make the most of your time.
</p>
<p>
	Microtasking<sup>sm</sup> (the company) is dedicated to facilitating the
	above concept by providing the lowest possible barrier to start.
</p>

<h3 id="how">How does it work?</h3>
<p>
	We believe that there is beauty in simplicity.  Simply provide us with a task that
	takes about an hour to complete, pay by credit card, and we'll take care of it.
</p>
<p>
	More information about how microtasking works can be found in our <a href="/faq">FAQ</a>.
</p>

<h3 id="who">Who are you?</h3>
<p>
  The core MicroTasking team resides in the United States, in Boston and Indianapolis -
  but we are staffed by the best and brightest world-wide. The Internet has no borders,
  and neither do we.
</p>
</div>
