<div class="staticbox">

<h3 id="definition">What is the Additional amount?</h3>
<p>
	When you submit your microtask, it's possible that you might request an activity
	which requires the tasker to spend money on your behalf.  For security reasons
	we will not accept any microtasks which contain instructions to use financial 
	information for any purpose.
</p>
<p>
	The "Additional amount" field offers a way for you to set aside funds necessary
	for the completion of the task.  To illustrate, consider this simple task request:
</p>
<p>
	<blockquote>
		Please arrange to have flowers sent to my wife.  She works at the Walgreens
		on 16th street.  She likes anything pink.
	</blockquote>
</p>
<p>
	Since the above task would require the tasker to spend money on the flower 
	arrangement and delivery, the requester would have to specify the amount up
	front, or the task would be rejected.
</p>

</div>
