<h3>What are Microtasks?</h3>
<p>Any short (less than 1 hour) task that can be easily defined and delegated to someone else</p>

<h3>Who is this for?</h3>
<p>
  Anyone! No signup cost. No monthly fees. No minimums. Here are the microtask steps:
  <ol>
  <li>Give us a small task</li>
  <li>We do it</li>
  </ol>
  That's it! You sit back and relax. Warning: microtasking can be addictive.
</p>

<h3>What kinds of tasks can I delegate?</h3>
<p>
  Anything that can be done remotely in under an hour with more than 24 hours notice.
  Yes really, anything. Here are some examples:
  <ul>
    <li>Make dinner reservations for 4 at 7:00pm next Monday at a nice Italian restaurant near my address</li>
    <li>Find some information about digital projectors under $500 and send it to me in a Word document</li>
    <li>Give wake-up calls to the following 5 phone numbers before 7:00am next this Friday: ...</li>
    <li>Find the top 3 competitors and their phone numbers in the Kansas City coffee house market</li>
    <li>Purchase flowers and have them delivered to my wife's work at the Walgreens on 116th street. Please be under $50.</li>
  </ul>
</p>

<h3>How specific do I have to be?</h3>
<p>
  The more specific the better. Remember, the assistant performing your microtask only has limited
  information about you.
</p>