<div class="staticbox">

<h3 id="definition">What are Microtasks?</h3>
<p>Any short (less than 1 hour) task that can be easily defined and delegated to someone else</p>

<h3 id="why">Why?</h3>
<p>Because you&apos;re busy.</p>

<h3 id="who">Who is this for?</h3>
<p>Anyone! No signup cost. No monthly fees. No minimums. Here are the microtask steps:</p>
<ol>
<li>Give us a small task</li>
<li>We do it</li>
</ol>
<p>That's it! You sit back and relax, we'll email you when it's done.</p>

<h3 id="ideas">What kinds of tasks can I delegate?</h3>
<p>
  Anything that can be done remotely in under an hour with more than 24 hours notice.
  Yes really, anything. Here are some examples:
  <ul>
    <li>List some information about digital projectors under $500 in a spreadsheet organized by price, name, and luminosity</li>
    <li>Do 1 hour&apos;s worth of research for a report about the Kudzu Vine, and send it to me in a Word document</li>
    <li>Make dinner reservations for 4 at 7:00pm next Monday at a nice Italian restaurant near my address</li>
    <li>Give wake-up calls to the following 5 phone numbers before 7:00am next this Friday: ...</li>
    <li>Find the top competitors and their phone numbers in the Kansas City coffee house market</li>
    <li>Purchase flowers and have them delivered to my wife's work at the Walgreens on 116th street. Please be under $50.</li>
  </ul>
</p>

<h3 id="taskers">Who does these tasks?</h3>
<p>
  We hand off the task to the members of our staff most qualified to do the job.
  If your task requires computer experience, you will get an IT graduate. The
  same pattern applies for anything from spot-checking documents, to making phone calls
  on your behalf, <em>et cetera</em>. Anything that requires special knowledge will
  be given to a qualified Task Manager.
</p>

<!-- h3>So... if you hire some college grads, how can you keep costs low?</h3>
<p>
  A combination of two factors:
  <ol>
  <li>We spread special expertise around to the tasks that need it. <a href="http://en.wikipedia.org/wiki/Economy_of_scale">Economy of scale</a>.</li>
  <li>Most tasks don&apos;t require special expertise</li>
  </ol>
  With everyone playing their part, it just works, and works well.
</p -->

<h3 id="specifics">How specific do I have to be when requesting my microtask?</h3>
<p>
  The more specific the better. Remember, the assistant performing your microtask only has limited
  information about you.
</p>

<h3 id="time">What if my microtask takes more than one hour?</h3>
<p>
  At this time we focus exclusively on tasks that take an hour or less.  If your task would obviously take longer,
  we will alert you by email before beginning any work and you will not be charged.
</p>
<p>
  Having said that, you might be surprised what can be accomplished in one hour's time by our <a href="#taskers">dedicated staff</a>.
  Your satisfaction is our highest priority, and we continually strive to complete every task dilligently and quickly.
</p>

</div>

