<!-- FORM -->
<div class="box form">
<div class="top"><div class="right"></div><div class="left"></div></div>
<div class="middle">
<form action="" method="post">
{% if promo %}<input type="hidden" name="promo" value="{{ promo|escape }}" />{% endif %}
{% if key %}<input type="hidden" name="key" value="{{ key|escape }}" />{% endif %}
<fieldset>
<legend>give us a task:</legend>
<p class="ideas"><span class="small"><a href="/examples" alt="Examples of good task requests.">examples?</a></span></p>
<textarea name="description">{{ description|escape }}</textarea>
{% if description_error %}<p class="validation-error"><span>* {{ description_error }}</span></p>{% endif %}
<p>
Task size:
<select name="hours">
  <option value="1" {% ifequal hours 1 %}selected="selected"{% endifequal %}>{{ small_desc }} - {{ currency }}{{ small_price }}</option>
  <option value="2" {% ifequal hours 2 %}selected="selected"{% endifequal %}>{{ medium_desc }} - {{ currency }}{{ medium_price }}</option>
  <option value="4" {% ifequal hours 4 %}selected="selected"{% endifequal %}>{{ halfday_desc }} - {{ currency }}{{ halfday_price }}</option>
  <option value="8" {% ifequal hours 8 %}selected="selected"{% endifequal %}>{{ fullday_desc }} - {{ currency }}{{ fullday_price }}</option>
</select>
<span class="small"><a href="/sizes" title="What are the task sizes?">?</a></span>
</p>
<p>
Additional amount: {{ currency }}
<input id="additional" type="text" class="text" name="additional" value="{% if additional %}{{ additional|floatformat:2 }}{% else %}0.00{% endif %}" />
<span class="small"><a href="/additional" title="What is the additional amount?">?</a></span>
</p>
{% if additional_error %}<p class="validation-error"><span>* {{ additional_error }} {{ currency }}{{ max_additional|floatformat:2 }}</span></p>{% endif %}
<p id="total" class="total" style="display:none">
<label>Total: {{ currency }}<span></span></label>
</p>
<p class="checkout">
<input id="submit" class="button" type="submit" name="checkout" value="Do My Work" />
<script type="text/javascript">
(function(){
	// Handles on relevant elements and other vars
	var d = document, tag = "getElementsByTagName", id = "getElementById";
	var form = d[tag]("form")[0],
		button = d[id]("submit"),
		select = form[tag]("select")[0],
		options = select[tag]("option"),
		additional = d[id]("additional"),
		total = d[id]("total"),
		oldvalue = button.value;
		
	// Single-press form button - once submitted, does not allow second submission.
	form.onsubmit = function onsubmit() {
		if (button.disabled) return false;
		button.value = "Working...";
		button.className = "pressed";
		return button.disabled = true;
	};
	
	// On any change, update the total and reactivate the button if necessary
	function onchange() {
		var o = options[select.selectedIndex], m = (o.innerText || o.textContent).match(/(\d+(\.\d+)?)$/);
		var t = (parseFloat(m[0]) || 0) + (parseFloat(additional.value) || 0) + '';
		t = t.replace(/^(\d+\.\d\d).*$/, "$1") + ( t.match(/\.\d$/) ? '0' : '' );
		total[tag]("span")[0].innerHTML = (t + '').replace(/^(\d+\.\d\d).*$/, "$1");
		if (!button.disabled) return true;
		button.value = oldvalue;
		button.className = button.className.replace(/(^|\s)pressed(\s|$)/g, '');
		button.disabled = false;
		return true;
	}
	select.onchange = additional.onchange = additional.onkeyup = onchange;
	
	// Show the total
	onchange();
	total.style.display = '';
})();
</script>
</p>
</fieldset>
</form>
</div>
<div class="bottom"><div class="right"></div><div class="left"></div></div>
</div>

