<dl>
<dt>microtask:</dt>
<dd><em>n.</em> A simple task that someone else could do for you remotely.</dd>
</dl>
<p id="intro">Give us a <strong>microtask</strong>, and we'll take care of it for <strong>{{ currency }}{{ price }}</strong> <span class="small info"><a href="#pricing">more info?</a></span></p>
{% if promo_intro %}<p>{{ promo_intro }}</p>{% endif %}
{% if validation_error %}<p class="error"><span>{{ validation_error }}</span></p>{% endif %}
<form action="/checkout" method="post">
{% if promo %}<input type="hidden" name="promo" value="{{ promo|escape }}" />{% endif %}
{% if key %}<input type="hidden" name="key" value="{{ key|escape }}" />{% endif %}
<fieldset>
<legend><span class="step">Step 1:</span> Describe your microtask</legend>
<p class="hint">It should take one hour or less to complete. <span class="small ideas"><a href="#ideas">need ideas?</a></span></p>
<p><textarea name="description">{{ description|escape }}</textarea></p>
{% if description_error %}<p class="validation-error"><span>* {{ description_error }}</span></p>{% endif %}
</fieldset>
<fieldset>
<legend><span class="step">Step 2:</span> Contact info</legend>
<p>In case we have any questions - your satisfaction is our top priority.</p>
<p><label><strong>Name:</strong> <input type="text" name="name" value="{{ name|escape }}" /></label></p>
{% if name_error %}<p class="validation-error"><span>* {{ name_error }}</span></p>{% endif %}
<p><label><strong>Email:</strong> <input type="text" name="email" value="{{ email|escape }}" /></label></p>
{% if email_error %}<p class="validation-error"><span>* {{ email_error }}</span></p>{% endif %}
<p><label><strong>Phone:</strong> <input type="text" name="phone" value="{{ phone|escape }}" /></label> <span class="small">(optional)</span></p>
{% if phone_error %}<p class="validation-error"><span>* {{ phone_error }}</span></p>{% endif %}
</fieldset>
<fieldset>
<legend><span class="step">Step 3:</span> Checkout</legend>
<p>Proceed to the checkout for payment options.</p>
<p><input class="button" type="submit" value="Checkout &rarr;" /></p>
</fieldset>
</form>
<div id="pricing">
<h3>Pricing</h3>
<p>Tasks up to 1 hour cost {{ currency }}{{ price }} to complete.  If additional time is needed to complete the task, we'll email you first.</p>
<p>More info is available in the <a href="/faq#time" target="_blank">FAQ</a></p>
</div>
<div id="ideas">
<h3>Ideas</h3>
<ul>
<li>Send someone some flowers.</li>
<li>Gather information on a subject.</li>
<li>Find me a local business that does housecleaning.</li>
</ul>
<p>More ideas are listed in the <a href="/faq#ideas" target="_blank">FAQ</a></p>
</div>
<p>Do you have more questions? Check out the <a href="/faq" target="_blank">FAQ</a></p>
