<dl>
<dt>microtask:</dt>
<dd><em>n.</em> A simple task that someone else could do for you remotely.</dd>
</dl>
<p id="intro">Give us a <strong>microtask</strong>, and we'll take care of it for <strong>{{ currency }}{{ price }}</strong>/hr <span class="small info"><a href="#pricing" class="pop">more info?</a></span></p>
{% if promo_intro %}<p>{{ promo_intro }}</p>{% endif %}
{% if validation_error %}<p class="error"><span>{{ validation_error }}</span></p>{% endif %}
<form action="" method="post">
{% if promo %}<input type="hidden" name="promo" value="{{ promo|escape }}" />{% endif %}
{% if key %}<input type="hidden" name="key" value="{{ key|escape }}" />{% endif %}
<fieldset>
<legend>How this works</legend>
<p>Here's a quick overview, so you know what to expect:</p>
<p><img src="/static/images/diagram.png" /></p>
<p>Questions? Read the <a href="/faq" title="FAQ">FAQ</a> or watch a <a href="http://microtasking.blogspot.com/2009/07/screencast-1.html" title="Introductory Screencast">Video</a>. <!-- or email us: <a href="mailto:contact@microtasking.net">contact@microtasking.net</a>--></p>
</fieldset>
<fieldset>
<legend><span class="step">Step 1:</span> Describe your microtask</legend>
<p class="hint">Ideally it should one hour or less to complete. <span class="small ideas"><a href="#ideas" class="pop">need ideas?</a></span></p>
<p><textarea name="description">{{ description|escape }}</textarea></p>
{% if description_error %}<p class="validation-error"><span>* {{ description_error }}</span></p>{% endif %}
<p>
This task is expected to take
<select name="hours">
  <option value="1" {% ifequal hours 1 %}selected="selected"{% endifequal %}>1 Hour</option>
  <option value="2" {% ifequal hours 2 %}selected="selected"{% endifequal %}>2 Hours</option>
  <option value="3" {% ifequal hours 3 %}selected="selected"{% endifequal %}>3 Hours</option>
  <option value="4" {% ifequal hours 4 %}selected="selected"{% endifequal %}>4 Hours</option>
</select>
</p>
</fieldset>
<fieldset>
<legend><span class="step">Step 2:</span> Checkout</legend>
<p>Proceed to the checkout for payment options.</p>
<p><input class="button" type="submit" value="Checkout &rarr;" /></p>
</fieldset>
</form>
<div id="pricing">
<h3>Pricing</h3>
<p>Tasks up to 1 hour cost {{ currency }}{{ price }} to complete.  If additional time is needed to complete the task, we'll email you first.</p>
<p>More info is available in the <a href="/faq#time" target="_blank">FAQ</a></p>
</div>
<div id="ideas">
<h3>Ideas</h3>
<ul>
<li>Send someone some flowers.</li>
<li>Gather information on a subject.</li>
<li>Find me a local business that does housecleaning.</li>
</ul>
<p>More ideas are listed in the <a href="/faq#ideas" target="_blank">FAQ</a></p>
</div>
<p>Do you have more questions? Check out the <a href="/faq" target="_blank">FAQ</a></p>
