<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link rel="shortcut icon" href="/static/images/{{ favicon }}" />
<link rel="stylesheet" href="static/base.css" type="text/css" media="screen" />
<link rel="stylesheet" href="static/{{ stylesheet }}.css" type="text/css" media="screen" />
<title>Microtasking - {{ tagline }}</title>
</head>
<body>
<div class="wrapper">
<h1 class="title"><a href=""><span>Microtasking</span></a></h1>
{% if sandbox %}<div id="sandbox">... SANDBOX ...</div>{% endif %}
{{ content }}
{% if sandbox %}<div id="sandbox">... SANDBOX ...</div>{% endif %}
</div>
<div class="linkbar">
  <a href="/faq">FAQ</a> | <a href="http://microtasking.blogspot.com/">Blog</a> | <a href="https://twitter.com/microtasking">Twitter</a>
</div>
<div class="footer">
  <p>&copy;2009 <a href="">MicroTasking.net</a></p>
</div>
<div id="popup" class="popup" style="display:none">
<a href="" class="close"><span>close</span></a>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9692232-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<script type="text/javascript">
(function(){
	var
		href = document.location.href,
		links = document.getElementsByTagName('a'),
		popup = document.getElementById('popup'),
		close = popup.getElementsByTagName('a')[0];
	close.onclick = function(){
		popup.style.display = "none";
		return false;
	};
	for (var i=0, l=links.length; i<l; i++) {
		var a = links[i];
		if (!a.href || a.href.indexOf(href) !== 0) continue;
		if (!(/(^|\s)pop(\s|$)/).test(a.className)) continue;
		var pos = a.href.indexOf('#'), id = a.href.substring(pos + 1);
		if (pos !== href.length || !id) continue;
		(function(elem){
			if (!elem) return;
			elem.style.display = "none";
			popup.appendChild(elem);
			a.href = "";
			a.onclick = function(){
				for (var i=0, l=popup.childNodes.length; i<l; i++) {
					var node = popup.childNodes[i];
					if (node.nodeType === 1 && node !== close) node.style.display = "none";
				}
				elem.style.display = popup.style.display = "";
				var
					doc = document.documentElement,
					viewportH = window.innerHeight || doc.clientHeight,
					top = document.body.scrollTop || doc.scrollTop;
				popup.style.top = (viewportH - popup.offsetHeight) / 2 + top + "px";
				popup.style.left = (doc.clientWidth - popup.offsetWidth) / 2 + "px";
				return false;
			};
		})(document.getElementById(id));
	}
})();
</script>
</body>
</html>

