<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="verify-v1" content="sRJ6G6J/MVC3d1SY7x+wIDSTp0VoW8umr6hL7i1CglM=" />
<link rel="shortcut icon" href="/static/images/{{ favicon }}" />
<link rel="stylesheet" href="/static/base.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/{{ stylesheet }}.css" type="text/css" media="screen" />
<title>Microtasking: {{ title|capfirst }}</title>
</head>
<body>
<div class="outer-wrapper">
<div class="inner-wrapper">
<h1 class="title"><a href="/{{ promo }}"><span>Microtasking</span></a></h1>
<div class="content">
{{ content }}
</div>
</div>
<p class="navbar">
  <a href="/how" title="How does it work?" ><span>How does it work?</span></a> | 
  <a href="/video" title="Video"><span>Video</span></a> |
  <a href="/faq"><span>FAQ</span></a>
</p>
<p class="linkbar">
  <a href="http://blog.microtasking.net/"><span>Blog</span></a> |
  <a href="https://twitter.com/microtasking"><span>Twitter</span></a> |
  <a href="/about"><span>About</span></a> |
  <a href="/press"><span>Press</span></a>
</p>
<div class="footer">
  <p>&copy;2009 <a href="/about">MicroTasking.net</a></p>
</div>
</div>

<script src='http://files.go2web20.net/twitterbadge/1.0/badge.js' type='text/javascript'></script><script type='text/javascript' charset='utf-8'><!--
tfb.account = 'microtasking';
tfb.label = 'follow-us';
tfb.color = '#a1b0c6';
tfb.side = 'r';
tfb.top = 136;
tfb.showbadge();
--></script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9692232-1");
pageTracker._trackPageview();
} catch(err) {}
</script>

</body>
</html>

